@import "tailwindcss";


@keyframes spin {
    from {
                transform: rotateX(0deg)  rotateZ(0deg);

    }
    to {
        /* rotate: 360deg; */
                transform: rotateX(360deg)  rotateZ(360deg);
    }
}
*{
    transition: 1s;
}